@import com.fasterxml.jackson.databind.JsonNode
@import model.Device

@(devices: List[Device])


@main("Device-List") {

    <h1>Device-Liste</h1>
    <ul>
    @for(device <- devices) {
        <li>@device.getName @device.getHostIp @device.getDataSource @device.getGroup @device.getProtocol</li>
    }
    </ul>
    <div class = "row">
        <div class = "span4">
            <a class="btn pull-right btn-success" href="@routes.DeviceController.newDeviceForm()">New Device</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="span12">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>HostIp</th>
                    <th>DataSource</th>
                    <th>Group</th>
                    <th>Protocol</th>
                    <th>Update</th>
                    <th>Delete</th>
                </thead>

                <tbody>
                @for(device <- devices) {

                    <tr>
                        <td>@device.getName</td>
                        <td>@device.getHostIp</td>
                        <td>@device.getDataSource</td>
                        <td>@device.getGroup</td>
                        <td>@device.getProtocol</td>
                        <td width="5%" align="center"><a href="@routes.DeviceController.updateDeviceForm(device.getName)"><span class="glyphicon glyphicon-refresh"></span></a></td>
                        <td width="5%" align="center"><a href="@routes.DeviceController.deleteDeviceForm(device.getName)"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
