@import com.fasterxml.jackson.databind.JsonNode
@import model.Device

@(devices: List[Device])


@main("Device-List") {
    <h1>Device-Liste</h1>
    <ul>
    @for(device <- devices) {
        <li>@device.getName @device.getHostIp @device.getDataSource @device.getGroup @device.getProtocol</li>
    }
    </ul>
    <table border='1'>
        <tr><th>Id</th><th>HostIp</th><th>DataSource</th><th>Group</th><th>Protocol</th> </tr>
        @for(device <- devices) {
            <tr><td>@device.getName</td>
                <td>@device.getHostIp</td>
                <td>@device.getDataSource</td>
                <td>@device.getGroup</td>
                <td>@device.getProtocol</td></tr>
        }
    </table>
}
